<div class="container">
    <h1 class="text-center">Danh sách sản phẩm của tôi</h1>
    
    <button (click)="addNewProduct()" class="add-new-btn">Thêm sản phẩm mới</button>
    
    <div *ngIf="products.length === 0" class="no-products-message">
        <p>Không có sản phẩm nào để hiển thị.</p>
    </div>

    <div class="product-list-grid">
        <div *ngFor="let product of products" class="product-item" (click)="navigateToDetail(product.id)">
            <h3>{{ product.name }}</h3>
            <p><strong>Giá:</strong> <span class="product-price">
                        <span class="price-value">{{ formatPrice(product.price).replace('₫', '') }}</span>
                        <span class="currency">₫</span>
            </span></p>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>