.img-size{
    width: 30px;
    height: 30px;
}
.content-box{
    height: calc(60vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: 50px auto; /* Canh giữa container */
}
.center-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.err-text{
    font-size: 18px;
    margin-bottom: 20px;
    color: red;
}
.row{
    padding: 0 !important;
}
.login-title{
    font-size: 32px;
    color: #ee4d22;
}
