.img-size{
    width: 30px;
    height: 30px;
}
.content-box{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.center-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.err-text{
    font-size: 18px;
    margin-bottom: 20px;
    color: red;
}
.row{
    padding: 0 !important;
}
.login-title{
    font-size: 32px;
    color: rgb(171 39 44);
}
